body{
    background-color: skyblue;
}

/* 
Target the header and make it different from the paragraphs
*/
.game-title {
    font-size: 80px;
    color:gray;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}


/* 
Target each paragraph and make them all the same; include margin and padding
*/

.type-of-game {
    font-size: 30px;
    text-decoration: bold;
    color: black;
    padding: 10px;
    margin: 5px;
}

.wins {
    font-size: 20px;
    margin: 0 20px;
    padding: 10px;
}

.losses{
    font-size: 20px;
    margin: 0 20px;
    padding: 10px;
}

.guess-left{
    font-size: 20px;
    margin: 0 20px;
    padding: 10px;
}

.guess-so-far{
    font-size: 20px;
    margin: 0 20px;
    padding: 10px;
}
